# Day 4 SkillSiya Python Class

## Data Types

In [3]:
# int,float,complex,String,list,set,tuple,set,dictinory ,boolean

## Categories of Data type

In [15]:
#Sequence
s="Hello World"
print(s[6])
l=[10,20,30,40]
print(l[2])
# Non-sequence
s={1,2,3,40}
# This will through an error so comment the print(s[3]) before run
print(s[3])
#Mutable
l2=[10,20,30,40]
l2[2]=50
print(l2)
#Immutable
s="Hello World"
s[6]="w"
print(s)

W
30
[10, 20, 50, 40]

TypeError: 'str' object does not support item assignment

## type() method

In [31]:
# used to find the type of any value or variable
s="Hello World"
l2=[10,20,30,40,"a"]
a=10
f=10.25
t=(1,2,3,40,"a")
s={1,2,3,4,"a"}
d={1:"a",2:"b"}
b=True
print(type(s))
print(type(l2))
print(type(a))
print(type(f))
print(type(s))
print(type(t))
print(type(d))
print(type(b))

<class 'set'>
<class 'list'>
<class 'int'>
<class 'float'>
<class 'set'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

## Data Type conversion

### Implicit type conversion

In [23]:
# This is the type  casting in which one data type is converted into
# A different data type automatically when needed.
a=10
b=a+8.4
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

### Explicit type convertion

In [27]:
# This is the type  casting in which one data type is converted into
# A different data type by user
age='48'
print(type(age))
# type casting
h=int(age)
print(h)
print(type(h))

<class 'str'>
48
<class 'int'>