# Operators

## Arithmatic Operators

In [18]:
print(10+12)
print(10-12)
print(10*12)
print(9/2)
print(9%2)
print(9//2)
print(2**3)

22
-2
120
4.5
1
4
8

## Relational Operators

In [ ]:
a=10
b=20
print(a==b)
print(a==b)

## Assignment Operators

## Logical Operators

In [34]:
a=10
b=12
# cond_1: a<b
# cond_2: a>=b
# cond_3: a==b

print((a<b) and (a>=b) and (a==b))
print((a<b) or (a>=b) or (a==b))
print((a<b) or (a>=b) and (not (a==b)))
print(not(a<b))

False
True
True
False

## Membership Operators

## Identity Operators

## Bitwise Operators

# Taking Input From User

In [48]:
name=input("Enter your name: ")
age=int(input("Enter your age: "))
height=float(input("Enter your height: "))
print(name,age,height)
print(type(name))
print(type(age))
print(type(height))

Enter your name:  kri
Enter your age:  35
Enter your height:  8.9

kri 35 8.9
<class 'str'>
<class 'int'>
<class 'float'>

# Conditional Statement

## if Statement

In [1]:
a=10
b=20
print(a>b)
if (a>b):
    c=a+b

print(a,b)
print(a,b,c)

False
10 20

NameError: name 'c' is not defined

In [8]:
a=20
b=300
print(a<b)
if (a<b):
    c=a+b

print(a,b)
print(a,b,c)

True
20 300
20 300 320

## if-else statement

## if-elif-else statement